
body{
    font-family: Montserrat, sans-serif;
 
}

#bar{
    background-color: hsla(187, 24%, 93%, 0.87);
    border-radius: 20px;
    width: 50%;
   margin-bottom: 50px;
    text-transform: uppercase;
   font-weight: bold;
   right: 0;
   overflow: hidden;
   position: fixed;
   padding: 20px;
}

#menu{
    text-decoration-line: none;
    color: black;
    margin-left: 20px;
    text-align: center; 
   
  transition:.35s ease-in-out;
}
#menu:hover{
    border-bottom:5px solid #b84040;
    border-top:5px solid #b84040;
    border-width: 100%;
    
}

#logo{
    margin-left: 0;
    
    overflow: hidden;
   position: fixed;
}

#iconProcura{
    cursor: pointer;
    padding-left: 100px;
}
#procura{
    margin-bottom: 10px;
    border:none;
    border-bottom:5px solid #b84040;
    margin-left: 80%;
    background-color: transparent;
    text-align: right;
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
#procura:focus{
    width: 20%;
}

#net{
    
    padding-top: 100px;
    background-image: url(Net.jpg);
    background-size: cover;
   margin-bottom: 50px;
    height: 250px;
}
#net-text{
    text-align: end;
    margin-right: 20px;
}
#net-h2{
    color: white;
    text-transform: uppercase;
    text-shadow:2px 2px #b84040;  
    font-weight: bolder;
}
#net-h3{
    color: white;
    text-transform: uppercase;
    text-shadow:2px 2px 4px #b84040;
}

#req1{
    margin-left: 25px;
   
}
#req1-p{
    margin-left: 20px;
    width: 250px;
    font-size: medium;
    text-align: justify;
}