
body{
    font-family: Montserrat, sans-serif;
    width:auto;
    /*grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));*/
}
#bar{
    background-color: hsla(187, 24%, 93%, 0.87);
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-bottom-left-radius: 20px;
    width: 50%;
   margin-bottom: 50px;
    text-transform: uppercase;
   font-weight: bold;
   right: 0;
   overflow: hidden;
   position: fixed;
   padding: 20px;
}
#down-drop{
    display: none;
}
#container{
    display: none;
}

@media  screen and (max-width:800px) {
    #net{
        font-size: 15px;
    }
    #bar{
        display:none;
    }

    #container {
        display: inline-block;
        cursor: pointer;
         right: 20px;
         overflow: hidden;
         position: fixed;
      }
    
      #down-drop{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        right: 0;
        background-color: #110f0f;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align:center;
        a{
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
        a:hover{
            color: #f1f1f1;
        }
          
      }

    .bar1, .bar2, .bar3 {
        display: block;

        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        border-radius:10px;
      }
    }

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
@media  screen and (max-width:1000px) {
    #bar{
        
        font-size: 10px;
    }
}

#menu{
    text-decoration-line: none;
    color: black;
    margin-left: 20px;
    text-align: center; 
    transition:.35s ease-in-out;
}
#menu:hover{
    border-bottom:5px solid #b84040;
    border-top:5px solid #b84040;
    border-width: 100%;
    
}

#logo{
    margin-left: 0;
    
    overflow: hidden;
   position: fixed;
}

#iconProcura{
    cursor: pointer;
    padding-left: 100px;
}
#procura{
    margin-bottom: 10px;
    border:none;
    border-bottom:5px solid #b84040;
    margin-left: 80%;
    background-color: transparent;
    text-align: right;
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
#procura:focus{
    width: 20%;
}

#net{
    grid-auto-flow: inherit;
    padding-top: 100px;
    background-image: url(Net.jpg);
    background-size: cover;
    margin-bottom: 50px;
    height: 250px;
}
#net-text{
    text-align: end;
    margin-right: 20px;
}
#net-h2{
    color: white;
    text-transform: uppercase;
    text-shadow:2px 2px #b84040;  
    font-weight: bolder;
}
#net-h3{
    color: white;
    text-transform: uppercase;
    text-shadow:2px 2px 4px #b84040;
}

#parent{
    margin-left: 15%;
    margin-right: 15%;
    /*display: table-cell;*/
    display:grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    
}

#req1{
    width:300px;
    background-color:white;
    transition: transform .5s;
}
#req1:hover{
    box-shadow: 2px 2px 4px #b84040;
    -ms-transform: scale(0.5); /* IE 9 */
  -webkit-transform: scale(0.5); /* Safari 3-8 */
  /*background-color: #c4e9e1;*/
  transform: scale(1.1); 
}

#req1-p{
    margin-left: 20px;
    width: 250px;
    font-size: medium;
    text-align: justify;
    padding: 10px 10px 10px 10px;
}

#req2{
    margin-left: 30px;
   
    width: 300px;
    
}

#req2-p{
    width: 250px;
    font-size: medium;
    text-align: justify;
}
#req3{
    width: 300px;
    
}
#req3-p{
    width: 250px;
    font-size: medium;
    text-align: justify;
}
#vid1{
    margin-left: 30px;
    float: left;
}
#req4{
    margin-left: 30px;
    overflow: hidden;
    float: left;
    
}
#req4-p{
    width: 350px;
    font-size: medium;
    text-align: justify;
}


#parent2{
    
    margin-top:25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c4e9e1;
    height: 500px;
    padding: 50px 0px 20px 0px;
}
#web{
    text-shadow: #c4e9e1;
    margin-left:40%;
    line-height: 2;
    font-weight: 400;
    background-image: url(websites.png);
    background-position:auto;
    height: 500px;
}
#h3-web{
    color: #2F1D6A;
    font-weight:bolder;
    padding-top:50px;
}

#ticks-web{
    color: rgb(98, 207, 98);
}

#parent3{
    margin-left: 35%;
    margin-right: 35%;
}

#h3-pa3{
    color: #272d85;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

#click-pa3{
    margin-left: auto;
    margin-right: auto;
    background-color: #1d2372;
    color: white;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
}

#pay{
    width: fit-content;
    box-shadow:2px 2px 4px #b84040;
    padding-top: 10px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: 100px;
}

#pay-h2{
    
    color: rgb(50, 13, 92);
    text-align: center;
    text-transform: uppercase;
    text-shadow:2px 2px 10px #802424;  
    font-weight: bolder;
}